{% extends "base.html" %}

{% block content %}
<header>
  <h2 class="text-6xl font-semibold">The Blog</h2>
</header>
<div>
  <h4 class="font-bold mt-12 pb-2 border-b border-gruvFg2">Latest Posts</h4>

  <div class="mt-8 grid lg:grid-cols-3 gap-10">
    <!-- cards go here -->
    <div class="card">
      <img src="https://raw.githubusercontent.com/iamshaunjp/tailwind-tutorial/lesson-4/public/img/stew.jpg" alt="stew"
        class="w-full h-32 sm:h-48 object-cover">
      <div class="m-4">
        <span class="font-bold">Mi primer post</span>
        <span class="block text-sm">Category</span>
      </div>
      <div class="badge">
        <svg xmlns="http://www.w3.org/2000/svg" class="w-5 inline-block" fill="none" viewBox="0 0 24 24"
          stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z" />
        </svg>
        <span>Python</span>
      </div>
    </div>
    <div class="card">
      <img src="https://raw.githubusercontent.com/iamshaunjp/tailwind-tutorial/lesson-13/public/img/noodles.jpg"
        alt="noodles" class="w-full h-32 sm:h-48 object-cover">
      <div class="m-4">
        <span class="font-bold">Mi primer post</span>
        <span class="block text-sm">Mi primer post en el blog</span>
      </div>
      <div class="badge">
        <svg xmlns="http://www.w3.org/2000/svg" class="w-5 inline-block" fill="none" viewBox="0 0 24 24"
          stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z" />
        </svg>
        <span>Javascript</span>
      </div>
    </div>
    <div class="card">
      <img src="https://raw.githubusercontent.com/iamshaunjp/tailwind-tutorial/lesson-13/public/img/curry.jpg"
        alt="curry" class="w-full h-32 sm:h-48 object-cover">
      <div class="m-4">
        <span class="font-bold">Sobre el blog</span>
        <span class="block text-sm">Este blog fue hecho con varias tecnologias</span>
      </div>
      <div class="badge">
        <svg xmlns="http://www.w3.org/2000/svg" class="w-5 inline-block" fill="none" viewBox="0 0 24 24"
          stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z" />
        </svg>
        <span>Youtube</span>
      </div>
    </div>
  </div>
</div>
{% endblock %}